<div class="container-fluid">
  <div class="row">
    <div class="col">
      <h1>Instarails</h1>
      <img src="<%= asset_url('3q3a0859.jpg') %>" class="img-fluid">
    </div>
    <div class="col">
      <h2>The number two photo social app</h2>
    </div>
  </div>
</div>